<mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile> <!--mat-icon-button-->
        <a href="http://www.github.com"><button mat-mini-fab><mat-icon svgIcon="github"></mat-icon></button></a>
        <a href="http://www.linkedin.com"><button mat-mini-fab><mat-icon svgIcon="linkedin"></mat-icon></button></a>
        <a><button mat-mini-fab><mat-icon svgIcon="telegram"></mat-icon></button></a>
        <a><button mat-mini-fab><mat-icon svgIcon="skype"></mat-icon></button></a>
        <a><button mat-mini-fab><mat-icon svgIcon="microsoftoutlook"></mat-icon></button></a>
        <a href="http://www.youtube.com"><button mat-mini-fab><mat-icon svgIcon="youtube"></mat-icon></button></a>
        <a href="http://www.facebook.com"><button mat-mini-fab><mat-icon svgIcon="facebook"></mat-icon></button></a>
        <a href="http://www.instagram.com"><button mat-mini-fab><mat-icon svgIcon="instagram"></mat-icon></button></a>
    </mat-grid-tile>
</mat-grid-list>