<mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
        <div class="social-link-btn">
            <button mat-icon-button (click)="socialBtnNavTo('https://github.com/codacy20')">
                <mat-icon svgIcon="github"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.linkedin.com/in/amirkiumarsi')">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </button>
            <button mat-icon-button (click)="socialBtnNavTo('https://www.t.me/rt_amir')">
                <mat-icon svgIcon="telegram"></mat-icon>
            </button>
            <!-- <button mat-icon-button (click)="socialBtnNavTo('https://www.skype.com')">
                <mat-icon svgIcon="skype"></mat-icon>
            </button> -->
            <button mat-icon-button (click)="socialBtnNavTo('mailto:amir-rt@live.com')">
                <mat-icon svgIcon="microsoftoutlook"></mat-icon>
            </button>
            <!-- <button mat-icon-button (click)="socialBtnNavTo('https://www.youtube.com')">
                <mat-icon svgIcon="youtube"></mat-icon>
            </button> -->
            <!-- <button mat-icon-button (click)="socialBtnNavTo('https://www.facebook.com')">
                <mat-icon svgIcon="facebook"></mat-icon>
            </button> -->
            <!-- <button mat-icon-button (click)="socialBtnNavTo('https://www.instagram.com')">
                <mat-icon svgIcon="instagram"></mat-icon>
            </button> -->
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-divider class="len"></mat-divider>