<mat-grid-list cols="1" rowHeight="6:1">
  <mat-grid-tile>
    <p>
      I am Amir and I build for the web. <br><br> I could waste your time, by building a thorough website
      that would attempt to convince you that I know about X and Y and establish that Y is important to me.<br><br>
      But ultimately, my preference and skills are as temporary as every language I know and as fickle as every tool I
      use. As temporary as things that will be useless in 10 years.<br><br>
      As fickle as things that can be learned by anyone.<br><br>
      The things that last are not complete, they are in progress. <br><br>So what I will tell you is that I am in progress.
      I hold on to my methods loosely, embrace flexibility and modularity, I am willing to learn, expect to be wrong,
      and am confident when I’m right.<br><br>
      Regards, Amir
    </p>
  </mat-grid-tile>
</mat-grid-list>