<mat-grid-list class="main-grid-list" cols="10" rowHeight="1:5">
  <mat-grid-tile colspan='2'>&nbsp;</mat-grid-tile>
  <mat-grid-tile class="mat-grid-tile-custom" colspan='6'>
    <mat-accordion class="accordion">
      <mat-expansion-panel *ngFor="let project of projects">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{project.updated_at | date: "medium"}}
            <a target="_blank" [href]="project.html_url">
              <mat-icon>launch</mat-icon>
            </a>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- content -->
        <mat-grid-list class="list-languages" cols="3" rowHeight="50px">
          <mat-grid-tile colspan='1' *ngFor="let language of project.languages">
            {{language}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-grid-tile>
  <mat-grid-tile colspan='2'>&nbsp;</mat-grid-tile>
</mat-grid-list>