mat-grid-tile 
{
    align-content: center !important;
    overflow: unset;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.main-grid-list
{
    margin-bottom: 35%;
}




/* Accordion stuff */

mat-accordion {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
  
.accordion {
    overflow: visible;
}
.accordion .mat-expansion-panel-header-title, 
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.list-languages
{
    height: 100px;
}
